<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar></app-topbar>
  <div class="layout-sidebar">
      <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
      <div class="layout-main">
        <div class="container-fluid">
          <div class="card" >
            <div class="row-cols-2 m-2 p-2 align-items-end" 
          >
            <p-button label="Create New" class="p-2" [routerLink]="['/#/admin/surveyCreator']"  ></p-button>
            <p-button label="Add NEW" (click)="showDialog()"></p-button></div>
</div>

          <div class="card">
            <div class="card-body">
            
  
  
              <div *ngIf="surveys && surveys.length > 0">
                <h2 style="text-align: center;" >Availabe surveys</h2>
  
              <div class="grid">
                <div class="col-6 md:col-8 lg:col-6" *ngFor="let survey of surveys" style="padding: 30px;">
                  <div class="surface-card shadow-2 p-3 border-round" [routerLink]="['/survey', survey.filename]">
                      <div class="flex justify-content-between mb-3">
                          <div>
                              <span class="block text-900 font-medium mb-4 colorize"> {{ survey.filename.substring(0, survey.filename.indexOf('.')) }}
                            </span>
                              <div class="text-900 font-medium text-xl">{{ survey.createdAt | date }}</div>
                          </div>
                          <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                              <i class="pi pi-comment text-purple-500 text-xl"></i>
                          </div>
                      </div>
  
                  </div>
              </div>
              </div>
              <div *ngIf="!surveys || surveys.length === 0">
                <p>No surveys available.</p>
              </div>
              </div>
          </div>
          </div>
        </div>           </div>
      <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>

     
<p-dialog
header="Header"
[(visible)]="visible"
[breakpoints]="{ '960px': '75vw' }"
[style]="{ width: '50vw' }"
[draggable]="false"
[resizable]="false"
>
<div class="surface-section">
  <input type="file" #fileInput (change)="onUpload($event)" accept=".json">
  <p-button
  (click)="visible = false"
  label="upload file"
  pAutoFocus
  [autofocus]="true"
></p-button>  
  <span id="fileName"></span>

</div>
<ng-template pTemplate="footer">
  
  <p-button
    (click)="visible = false"
    label="close"
    pAutoFocus
    [autofocus]="true"
  ></p-button>
</ng-template>
</p-dialog>


