<div class="layout-wrapper">
  <app-header></app-header>
    
    <div class="layout-main-container">
        <div class="layout-main">
  <div class="container-fluid">

<div class="card">
    <span class="p-buttonset" style="float: right;">
      <h1 style="text-align: center;"> my certification</h1>

        <button pButton pRipple label="Add New" icon="pi pi-plus"></button>
    </span>
</div>
<div class="container-fluid">



    <p-table [value]="loadedCert">
      <ng-template pTemplate="header">
        <tr>
          <th>optainedAt</th>
          <th>Title</th>
          <th>provider</th>
          <th>Action</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-loadedCert>
        <tr>
          <td>{{ loadedCert.optainedAt  | date:'dd/MM/yyyy' }}</td>
          <td>{{ loadedCert.Title }}</td>
          <td>{{ loadedCert.provider }}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-search"  class="p-button-rounded p-button-primary p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-trash"   
            class="p-button-rounded p-button-danger p-button-text"></button>

          </td>
         
        </tr>
      </ng-template>
    </p-table>
</div>

