<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div  style="padding: 50px; width:2000PX; background-color: white;margin-left: -90PX; position: static;">
    <div class="row " >
      <div class="col-11">
      <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem" ></p-tabMenu>
    </div>
    <div class="col-1">
      <p-button label="survey" icon="pi pi-users" severity="warning" badge="1" badgeClass="p-badge-danger"></p-button>
    </div> </div>
      </div>
</nav>