<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Our Application</title>
</head>
<body>
  <h1>Welcome, {{ name }}!</h1>
  <p>Hello {{ name }},</p>
  <p>Welcome to our application! We're excited to have you on board.</p>
  <p>Your registered email is: {{ email }}</p>
  <p>Click the link below to set your password and get started:</p>
  <p><a href="http://localhost:3000/reset-password?token=">Reset Password</a></p>
  <p>If you didn't register for our application, please disregard this email.</p>
  <p>Best regards,</p>
  <p>Your Application Team</p>
</body>
</html>
